.image_upload {
    .image_error {
        margin: 16px;
    }

    mat-form-field {
        margin-right: 12px;
        font-size: 17px;
    }
  
    mat-icon {
        margin-right: 9px;
        transform: scale(1.6);
    } 

    .input-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }    
   
    .input-file + label {
        cursor: pointer;
        display: inline-block;
        background-color: #F0D9C0;
        border-radius: 5px;
        color: black; 
        font-size: 17px;
        padding: 10px 18px;
        transition: all 0.2s ease-in;
    }
    
    .input-file:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    
    .input-file + label * {
        pointer-events: none;
    }

    .image_button {
        margin: 16px;
        padding: 3px 38px;
        font-size: 17px;
    }
}