mat-card {
    margin: 1em auto;
    min-width: 320px;
    max-width: 420px;

    .change_button {
        margin: 14px;
        padding: 3px 86px;
        font-size: 17px;
    }

    mat-form-field {
        display: block;
        padding: 0 26px;
        margin-bottom: 4px;
    }
}

