<ng-container  *ngIf="userService.currentUser.providerData[0].providerId === 'password'">
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-error *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>

            <mat-error
                *ngIf="form.get('passData').errors?.passwordMatch && form.get('passData.rePassword').touched && form.get('passData.rePassword').dirty">
                Passwords don't match!
            </mat-error>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" name="currentPassword" formControlName="currentPassword">
                <mat-error>
                    Password must be at least 8 symbols.
                </mat-error>
            </mat-form-field>

            <div formGroupName="passData">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" name="password" formControlName="password">
                    <mat-error>
                        Password must be at least 8 symbols.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" name="rePassword" formControlName="rePassword">
                    <mat-error>
                        Password must be at least 8 symbols.
                    </mat-error>
                </mat-form-field>
            </div>

            <button ngClass="change_button" mat-raised-button>Change password</button>
        </form>
    </mat-card-content>
</mat-card>
</ng-container>
