<mat-card>
    <mat-card-content>
        <h1>Forgot you password?</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-error ngClass="auth_error" *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>

            <mat-form-field>
                <mat-label>Email address</mat-label>
                <input matInput type="text" name="email" placeholder="example@domain.com" formControlName="email">
                <mat-error>
                    Please provide a valid email address.
                </mat-error>
            </mat-form-field>

            <button ngClass="auth_button" mat-raised-button [disabled]="loading">Submit</button>
        </form>
    </mat-card-content>
    <h3>Don't have account yet? <a mat-button [routerLink]="['/user/auth/register']" routerLinkActive="active">
            Create one</a>
    </h3>
    <h3>or sign in with:</h3>
    <button mat-icon-button appGoogleSignin>
        <img src="/assets/google-logo.svg" />
    </button>
</mat-card>